# Python, project, cache, and environment files
__pycache__/
.pytest_cache/
venv/
*.pyc
tests/int/_corpora_cache

# Packaging files
MANIFEST
build/
dist/
pyconll.egg-info/

# Documentation files
docs/_build

# Editor files
.vscode
.*.swp