# Python, project, cache, and environment files
__pycache__/
.pytest_cache/
.mypy_cache/
venv/
*.pyc
htmlcov/
.coverage
tests/int/_corpora_cache

# Local use files
.python-version
CLAUDE.md

# Packaging files
MANIFEST
build/
dist/
pyconll.egg-info/

# Documentation files
docs/_build

# Editor files
.vscode
.*.swp
