stage: unittest
if: env(TRAVIS_EVENT_TYPE) != cron
os: linux
dist: xenial
language: python
python:
    - 3.6
    - 3.7
    - 3.8
    - 3.9
install:
  - pip install -r requirements.txt
  - pip install coveralls
script:
  - make coveragetest
after_success:
  - coveralls

jobs:
  - stage: inttest
    if: branch in (dev, master) AND env(TRAVIS_EVENT_TYPE) != cron
    os: linux
    dist: xenial
    language: python
    python: 3.6
    install:
      - pip install -r requirements.txt
    script:
      - travis_wait 30 make inttest

  - stage: datatest
    if: env(TRAVIS_EVENT_TYPE) = cron
    os: linux
    dist: xenial
    language: python
    python: 3.5
    install:
      - pip install -r requirements.txt
    script:
      - travis_wait 180 make datatest

  - stage: lint
    if: env(TRAVIS_EVENT_TYPE) != cron
    os: linux
    dist: xenial
    language: python
    python: 3.5
    install:
      - pip install -r requirements.txt
    script:
      - make lint