name: CI

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
      - dev

jobs:
  unittest:
    name: Unit Test ${{ matrix.py }}
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        py: ['3.10', '3.11', '3.12', '3.13']
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.py }}
      - name: Install Dependencies
        run: |
          pip install -r requirements.txt
          pip install coveralls
      - name: Run tests
        run: |
          make coveragetest
      - name: Publish to coveralls.io
        run: |
          coveralls --service=github
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

  inttest:
    name: Integration Test
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.13
      - name: Run
        run: |
          pip install -r requirements.txt
          make inttest

  lint:
    name: Lint
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-python@v2
        with:
          python-version: 3.13
      - name: Run 
        run: |
          pip install -r requirements.txt
          make lint
