name: DI

on:
  schedule:
    - cron: 0 0 1 * *

jobs:
  datatest:
    name: Data Integration across UD
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
        with:
          ref: dev
      - uses: actions/setup-python@v2
        with:
          python-version: 3.13
      - name: Run
        run: |
          pip install -r requirements.txt
          make datatest
