name: DI

on:
  schedule:
    - cron: 0 0 1 * *
  workflow_dispatch:

jobs:
  datatest:
    name: Data Integration across UD
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
        with:
          ref: dev
      - uses: actions/setup-python@v6
        with:
          python-version: '3.14'
          cache: 'pip'
      - uses: actions/cache@v4
        with:
          path: tests/int/_corpora_cache/artifacts
          key: di-corpora-artifacts
      - name: Run
        run: |
          pip install -r requirements.txt
          make datatest
