name: Pyconll Release to PyPi
on:
  release:
    types:
      - released
  workflow_dispatch:

jobs:
  release:
    name: Release pyconll
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v5
      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.14'
          cache: 'pip'
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r deps/build.txt
      - name: Build pyconll distributables
        run: |
          python setup.py sdist bdist_wheel
      - name: Publish packages from dist/*
        # Make sure the current git ref is tagged.
        if: startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          attestations: false
          password: ${{ secrets.PYPI_API_TOKEN }}
          repository-url: https://upload.pypi.org/legacy/
