name: Pyconll Release to PyPi
on:
  release:
    types:
      - released

jobs:
  release:
    name: Release pyconll
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2.3.2
      - name: Setup Python 3.6.12
        uses: actions/setup-python@v1
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r deps/build.txt
      - name: Build pyconll distributables
        run: |
          python setup.py sdist bdist_wheel
      - name: Publish packages from dist/*
        # Make sure the current git ref is tagged.
        if: startsWith(github.ref, 'refs/tags')
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          repository_url: https://upload.pypi.org/legacy/
