name: Pyconll Release Support Version to PyPi
on:
  push:
    branches:
      - 'support/**'

jobs:
  release:
    name: Release pyconll
    runs-on: ubuntu-24.04
    steps:
      - uses: actions/checkout@v2.3.2
      - name: Setup Python
        uses: actions/setup-python@v1
        with:
          python-version: 3.13
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r deps/build.txt
      - name: Build pyconll distributables
        run: |
          python setup.py sdist bdist_wheel
      - name: Publish packages from dist/*
        uses: pypa/gh-action-pypi-publish@v1.13.0
        with:
          password: ${{ secrets.PYPI_API_TOKEN }}
          repository_url: https://upload.pypi.org/legacy/
